/workspace/servidor/target/
/workspace/facturacionElectronica/target/
/workspace/ws-client-iess/target/
/workspace/main/target/
/workspace/recursos/target/
/workspace/crm/target/
/workspace/coreCodefacLite/target/
/workspace/transporte/target/
/workspace/contabilidad/target/
/workspace/restaurante/target/

#excluir arhivos de compilacion

Thumbs.db
*.class
/workspace/*.jar
/workspace/mavenCodefacLite/target/

#Configuraciones del netbeans
nbactions.xml
nb-configuration.xml
/workspace/utilidades/target/

#excluir base de datos
/workspace/main/DB/
/workspace/main/Derby2.*
/workspace/main/Derby2.DB/
/workspace/main/Derby2.DB.otro/
/workspace/main/Derby2.DB.bk/
/workspace/main/Derby2.DB.bk2/
/workspace/main/Derby2.DB.escuela/
/workspace/main/Derby2.DB2/
/workspace/main/Derby2.DB.original/
#excluir archivo temporal
/workspace/main/tmp/

/workspace/servidor/DB/
derby.log
/workspace/controlador/target/
/workspace/facturacion/target/
/workspace/configuraciones/target/
/workspace/ws-codefac/target/
/workspace/ws-virtualmall/target/
/workspace/inventario/target/
/workspace/servidor-interfaz/target/
/workspace/prestamos/target/

#Excluir archivo de configuracion inicial
workspace/main/codefac.ini
/workspace/gestionAcademica/target/
/workspace/compra/target/
/workspace/cartera/target/
/workspace/servicios/target/

#Excluir carpeta de logs y temporales
/workspace/main/tomcat9_pruebas
/workspace/main/tomcat92
/workspace/main/tomcat9
/workspace/main/*.log
/workspace/main/log/
/workspace/main/tmp/
/workspace/main/lib/
/workspace/main/codefac.jar
/workspace/main/updater.jar
/workspace/main/key.codefac.*
/workspace/main/key.codefac.otro
/workspace/main/key.codefac.original
/workspace/main/key.codefac
/workspace/main/key.codefac.bk
/workspace/main/key.codefac.bk2
/workspace/main/key.codefac.bk2
/workspace/main/key.codefac.bk2
/workspace/main/key.codefac2
/workspace/main/key.codefac.escuela
/workspace/updaterCodefac/target/

#Excluir archivos del manual para generar el instalador
/manuales/generar_instalador/Output/
/manuales/generar_instalador/jar/*.jar
/manuales/generar_instalador/lib

/workspace/app-web/controlEmpleados/target/
/workspace/app-web/ejemploWeb/target/
/workspace/app-web/module1/nbproject/private/
/workspace/app-web/ejemploModulo/target/
/workspace/app-web/controladorBean/target/
/workspace/app-web/codefacweb/target/
/workspace/app-web/recursosWeb/target/
/workspace/app-web/virtualmall/virtualmall-ejb/target/
/workspace/app-web/virtualmall/virtualmall-web/target/
/workspace/app-web/virtualmall/virtualmall-ear/target/
/workspace/impuestos/target/
/workspace/mavenCodefacLite/prestamos/target/
/workspace/pos/target/
/workspace/mavenCodefacLite/restaurante/target/
